SistemaFacturacionElectronicaNacrisul/InterfazWeb/Service References/ServiceReference2/ConsultaCfe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://ucfe.uruware.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultaCfe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IConsultaCfe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://ucfe.uruware.com/" location="https://test.ucfe.com.uy/Query/WebServicesFE.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IConsultaCfe" type="i0:IConsultaCfe">
    <wsp:PolicyReference URI="#BasicHttpBinding_IConsultaCfe_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComprobantesPorEmpresaDenegadosPorDgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorEmpresaDenegadosPorDgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantesPorEmpresaPorSerEnviadosADgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorEmpresaPorSerEnviadosADgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantesPorSucursalDenegadosPorDgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorSucursalDenegadosPorDgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantesPorSucursalPorSerEnviadosADgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorSucursalPorSerEnviadosADgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantesPorCajaDenegadosPorDgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorCajaDenegadosPorDgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantesPorCajaPorSerEnviadosADgi">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ComprobantesPorCajaPorSerEnviadosADgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaHtmlPorNumero">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ConsultaHtmlPorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaHtmlConMontoYCodigo">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ConsultaHtmlConMontoYCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAvanzadaConMontoYCodigo">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ConsultaAvanzadaConMontoYCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdf">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ObtenerPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarImagen">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/GenerarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdfConParametros">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ObtenerPdfConParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarImagenConParametros">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/GenerarImagenConParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdfCfeRecibido">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ObtenerPdfCfeRecibido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoCfeRecibido">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/ObtenerEstadoCfeRecibido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarImagenCfeRecibido">
      <soap:operation soapAction="http://ucfe.uruware.com/IConsultaCfe/GenerarImagenCfeRecibido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaCfe">
    <wsdl:port name="BasicHttpBinding_IConsultaCfe" binding="tns:BasicHttpBinding_IConsultaCfe">
      <soap:address location="https://test.ucfe.com.uy/Query/WebServicesFE.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>